body {
    background-image: url("../Assests/markets2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    fill: limegreen;
}
